{% extends 'base.html.twig' %}

{% block title %}RenoshopBee - Login{% endblock %}

{% block body %}
<section class="shopChechout">
        <div class="container">
            
            <div class="shipping-shopping">
                <div class="row mb-5 mt-4">
                    <div class="col-md-6 mb-3">
                        <form action="{{ path('security_login') }}" method="post">
                            <h6>LOGIN</h6>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class=" mt-4">E-mail <span class="red">*</span></label>
                                    <input required type="text" name="_username" class="txt-large" placeholder="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class=" mt-4">Password <span class="red">*</span></label>
                                    <input required type="password" name="_password" class="txt-large" placeholder="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-check mt-4">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Remember me?</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-check mt-4">
                                        <button type="submit" class="btn-small mb-5 mt-3 float-right" style="width: 120px;">LOGIN</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6 mb-3">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
